@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    This will eventually be the homepage. Since the project will be worked on over multiplw assignments then I routed the 
    index view controller to the ViewBooks.cshtml file.
</div>
